body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    /* цвет текста */
    color: #000;
    /* удаление подчеркивания */
    text-decoration: none;
}

li {
    /* убрать маркеры у списка */
    list-style-type: none;
}

ul {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    display: flex;
    justify-content: center;
}

button {
    border: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    background-color: $active-color;
    padding: 17px 30px;
    /* меняет внешний вид курсора при наведении на кнопку */
    cursor: pointer;
    transition: 300ms;
}

.link{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: $active-color;
    position: relative;
    border-bottom: 0.125rem solid $active-color;
}

button:hover{
    color: #000;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./../assets/fonts/playfairdisplayitalic.woff2') format('woff2'), url('./../assets/fonts/playfairdisplayitalic.woff') format('woff'), url('./../assets/fonts/playfairdisplayitalic.ttf') format('truetype');
}

.header__logo a {
    /* название шрифта */
    font-family: 'Montserrat', sans-serif;
    /* насыщенность шрифта */
    font-weight: bold;
    /* размер шрифта */
    font-size: 34px;
}

.header,
.header .menu ul,
.header .social-networks {
    display: flex;
}

.header .menu .menu__link {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    /* текст в верхнем регистре */
    text-transform: uppercase;
    /* внутренний отступ (первое число – отступ с верхнего края и нижнего, второе – с правого и левого) */
    padding: 7px 10px;
    /* внешний отступ (со значениями логика такая же) */
    margin: 0 5px;
    /* анимация свойств которые будут меняться */
    transition: 300ms;
}

.header .menu .menu__link:hover {
    color: #fff;
    background-color: $active-color;
}

.header .hamburger {
    display: none;
    z-index: 120;
}
.header .social-networks .social-networks__link {
    width: 36px;
    height: 36px;
    background-color: #000;
    /* задаем данное отображение чтобы мы могли выравнивать содержимое контейнера при помощи флексбоксов */
    display: flex;
    /* выравниваем по горизонтали по центру */
    justify-content: center;
    /* выравниваем по вертикали по центру */
    align-items: center;
    margin: 0 5px;
    /* задаем скругление углов */
    border-radius: 50px;
}

.header .social-networks .social-networks__link:hover {

    background-color: $active-color;
    transition: 300ms;
}

.header {
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    position: relative;
}
.main-content-wrap {
    background-image: url(./../assets/img/wave-bg.jpg);
    /* по умолчанию картинка дублируется и если вы этого не хотите – прописывайте это свойство */
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;

}

.main-section .main-section__title,
.main-section .main-section__subtitle {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-style: italic;
    /* выравнивание текста по центру */
    text-align: center;
}

.main-section {
    margin-bottom: 15.1041666667%;
}

.main-section .main-section__title {
    font-size: 50px;
    margin-bottom: 5px;
}

.main-section .main-section__subtitle {
    font-size: 24px;
    color: $light-color;
    /* тень текста */
    text-shadow: 0px 3px 15px rgba(0, 0, 0, 0.64);
    margin-bottom: 150px;
}

.main-section .product-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    width: 1030px;
    /* выравнивание блока по центру по горизонтали */
    margin: 0 auto;
}

.main-section .product-card .product-card__image {
    margin-right: 30px;
}

.main-section .product-card .product-card__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    /* ширина задается для переноса текста на следующую строку */
    width: 340px;
}

.main-section .product-card .rating {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.main-section .product-card .rating .rating__stars-wrap {
    display: flex;
    margin-right: 5px;
}

.main-section .product-card .rating .rating__number {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: $text-gray-color;
}

.main-section .product-card .rating .rating__star {
    background-image: url(./../assets/img/star-inactive.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    margin-left: 3px;
}

.main-section .product-card .rating .rating__star.active {
    background-image: url(./../assets/img/star-active.png);
}

.main-section .product-card .product-card__description-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    /* свойство, которое делает все буквы заглавными */
    text-transform: uppercase;
    position: relative;
    display: inline;
}

.main-section .product-card .product-card__description-title:after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: $active-color;
}

.main-section .product-card .product-card__description-content {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $text-gray-color;
    /* высота строки */
    line-height: 24px;
    width: 390px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.main-section .product-card .price {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.main-section .product-card .price__content {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-right: 25px;
}



.main-section .product-card {
    padding: 50px 0;
    box-sizing: border-box;
    justify-content: center;
    position: relative;
    /* скрывает элементы выходящие за пределы данного блока */
    overflow: hidden;
    /* управляет элементом по оси z (чем больше значение относительно других элементов, тем данный элемент будет выше) */
    z-index: 2;
    /* тень для блока */
    box-shadow: 0px -8px 30px 0px rgba(0, 0, 0, 0.34);
}

/* треугольник */
.main-section .product-card:before {
    content: '';
    position: absolute;
    top: -374px;
    left: -165px;
    /* поворот блока (значение указывается в градусах) */
    transform: rotate(39deg);
    width: 0;
    height: 0;
    /* границы блока для каждой стороны */
    border-top: 500px solid transparent;
    border-right: 500px solid #00d2ff;
    border-bottom: 500px solid transparent;
    z-index: -2;
}

/* слово Boards */
.main-section .product-card:after {
    content: 'Boards';
    text-transform: uppercase;
    transform: rotate(-90deg);
    position: absolute;
    right: -270px;
    font-family: 'Montserrat', sans-serif;
    font-size: 135px;
    font-weight: bold;
    /* прозрачность */
    opacity: 0.03;
}

.headline{
    letter-spacing: 1.25rem;
    position: absolute;
    
    font-size: 10vw;
    left: 0;
    right: 0;
    text-align: center;
    top: -9.16666666667vw;
    z-index: -1;
    text-transform: uppercase;
    opacity: 0.03;
}

section{
    display: block;
    margin-bottom: 10%;
    position: relative;
}
.about-section{

    background-image: url(./../assets/img/about-us-bg.jpg);
    /* по умолчанию картинка дублируется и если вы этого не хотите – прописывайте это свойство */
    background-repeat: no-repeat;
    background-size: contain;
}

.about-section__article{
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    display: inline-block;
    margin: 15.625vw 5.98290598291% 0 0;
    padding: 5.98290598291% 8.547008547%;
    position: relative;
    vertical-align: top;
    width: 48.7179487179%;
    
}

.about-section__article:before {
    background-color: inherit;
    content: '';
    height: 100%;
    left: -950px;
    position: absolute;
    top: 0;
    width: 1000px;
}

.about-section__article-title{
    font: 1.125rem "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.125rem;
    text-align: center;
    text-transform: uppercase;
    margin: 4% 0 6%;
}

.about-section__article-icon{
    margin: 4% 0;
}

.about-section__article-text{
    margin: 5% 0;
    font-style: italic;
    line-height: 2.375rem;
    font-size: 1.375rem;
    font-family: "Playfair Display", sans-serif;
}

.about-section__video{
    box-shadow: 1.25rem 1.25rem 3.125rem 0.3125rem rgba(0,0,0,0.32);
    margin-top: 29vw;
    width: 40%;
}

.team-section__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    padding: 0 1%;
}

.team-section__list{
    text-align: center;
    width: 86%;
}

.team-section__list-item{
    display: inline-block;
    padding: 2% 0 4% 0;
    position: relative;
    width: 26%;
    background-color: #fff;
    box-shadow: 1.25rem 1.25rem 3.125rem 1.25rem rgba(0,0,0,0.2);
    border-radius: 0.75rem;
    transition: 300ms;
    font-size: 1rem;
    color: #8c8c8c;
    font: 0.875rem "Raleway", sans-serif;
}

.team-section__list-item:nth-child(even){
    top:30px;
    z-index:2;
}

.team-section__list-item:not(:first-child){
    margin-left: -1.25rem;
}

.team-section__list-item:hover{
    background-color: $active-color;
}

.team-section__profile-avatar{
    border-radius: 100px;
    border: 3px solid #fff;
    margin: 2%;
}

.team-section__profile-name{
    color: $active-color;
    font: 1.125rem "Montserrat", sans-serif;
    font-weight: 500;
    margin: 0;
}

.team-section__profile-wave{
    background-image: url(../assets/img/separator__gray.png);
    background-repeat: no-repeat;
    background-position-x: center;
    margin: 0.5rem;
    height: 0.5rem;
}

.team-section__profile-location{
    background-image: url(../assets/img/pin_icon_grey.png);
    background-repeat: no-repeat;
    padding-left: 1rem;
    height: 1rem;
    width: max-content;
    margin: 0 auto;
}

.team-section__list-item:hover .team-section__profile-name{
    color: #fff
}

.team-section__list-item:hover .team-section__profile-tag{
    color: #fff
}

.team-section__list-item:hover .team-section__profile-wave{
    background-image: url(../assets/img/separator__blue.png);
    color: #fff
}

.team-section__list-item:hover .team-section__profile-location{
    background-image: url(../assets/img/pin_icon.png);
    color: #fff
}

.arrow-button{
    border-radius: 2rem;
    background-repeat: no-repeat;
    border:2px solid #8c8c8c;
    background-image: url(../assets/img/arrow__grey.png);
    background-position: center;
    width: 2rem;
    height: 2rem;
}

.arrow-button:hover{
    background-image: url(../assets/img/arrow__blue.png);
    border-color: transparent;
}

.team-section__button-next{
    transform: rotate(180deg);
}

.blog-section__title{
    text-align: center;
    font: 1.125rem "Montserrat", sans-serif;
    font-weight: 500;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
}

.blog-section__content{
    flex-flow: column nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-section__icon{
    margin: 1% 0 3% 0;
}

.blog-section__list{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 3rem;
}
.blog-section__list-item{

    margin: 0 1.28205128205%;
    width: 25%;
    transition: 300ms;
}

.blog-section__item-img{
    width: 100%;
}

.blog-section__item-text{
    color: $text-gray-color;
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: "Raleway", sans-serif;
    margin: 9%;
    text-align: left;
}

.blog-section__item-img__container{
    position: relative;
    width: 100%;
}

.blog-section__list-item:hover{
    box-shadow: 0.5rem 1rem 1.5rem 0.5rem rgba(0, 0, 0, 0.34);
}

.blog-section__list-item:hover .blog-section__item-text{
    color:#0022ff;
}

.blog-section__list-item:hover .blog-section__item-img__container::after{
    display: none;

}

.blog-section__item-img__container::after{
    background-image: linear-gradient(to bottom, transparent, #000);
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}































.social-section {
    position: relative;
    align-items: flex-start;
    display: flex;
    z-index: 1;
}
  
.instagram-headline {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    font-size : 5.5rem;
    left: -5px;
    letter-spacing: 0.65rem;
    top: -80px;
    z-index: -1;
    text-transform: uppercase;
    opacity: 0.03;
}
  
.social-section__instagram {
    margin: 0 4.2735042735% -225px 0;
    width: 52.9914529915%;
    z-index: 1;
}
.instagram {
    font-size: 0;
}
  
  .instagram__photo {
    width: 100%;
}
  
.instagram__footer {
    align-items: center;
    background-color: #fff;
    display: flex;
    padding: 3.22%;
}
  
.instagram__logo {
    margin-right: 3.22%;
}
  
.instagram__slogan {
    color: $active-color;
    font: bold 1.5rem "Roboto Condensed", sans-serif;
    margin-right: 2.58%;
    text-transform: uppercase;
}
  
.instagram__nickname {
    font: 1rem "Raleway", sans-serif;
}
  
.social-section__facebook {
    box-sizing: border-box;
    margin: 60px 5.128% 0 0;
    min-width: 310px;
    padding: 30px 4.2%;
    width: 37.6%;
}
  
.facebook {
    background-image: linear-gradient(to bottom, #385490 50%, #e5e5e5 50%);
    font-family: "Helvetica LT Std", sans-serif;
}
  
.facebook__logo {
    background: url("../assets/img/logo_facebook.png")  no-repeat;
    display: block;
    height: 35px;
    margin: 0 auto 8.82352941176%;
    width: 156px;
}
  
.facebook__profile {
    background: url("../assets/img/fb_bg.png") no-repeat #f6f7f9;
    padding: 2.35%;
    position: relative;
}

.facebook__profile::after{
    position: absolute;
    left:0;
    right:0;
    width: 100px;
    height: 100px;
    background-color: #8c8c8c;
}
  
.facebook__description {
    background: url("../assets/img/profile__photo.png");
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fff;
    display: block;
    height: 62px;
    margin-bottom: 9.8024691358%;
    padding: 0 64px;
}
  
.facebook__title {
    padding-top: 0.5rem;
    font-size: 1.125rem;
}

.facebook__likes {
    font-size: 0.75rem;
    background-image    : url("..assets/img/FB icon.png");
}
  
.fb-button {
    font: bold 0.75rem "Helvetica LT Std", sans-serif;
    padding: 0.125rem 0.125rem 0.125rem 1.25rem;
    background-color: $light-color;
    background-position-x: 0.25rem;
}
.facebook__likebutton {
    font-family: "Helvetica LT Std", sans-serif;
    background-image: url("../assets/img/FB\ icon.png");
    background-repeat: no-repeat;
    background-position-y: center;

}
.facebook__sharebutton {
    float: right;
    background-image: url("../assets/img/Share\ icon.png");
    background-repeat: no-repeat;
    background-position-y: center;
}
  
.facebook__members {
    background-color: #f6f7f9;
    padding: 2.35294117647%;
}
  
.fb-members {
    background-color: #fff;
    border-radius: 0.308641975309%;
    box-shadow: 0 0 0.25rem 0.0625rem rgba(0, 0, 0, .13);
    margin: 0;
    padding: 2.46913580247%;
}
  
.fb-members__title {
    background-color: #4b4f56;
    font-size: 0.75rem;
    margin-bottom: 0.923076923077%;
}
  
.fb-members__list {
    font-size: 0;
}
  
.fb-members__item {
    box-sizing: border-box;
    display: inline-block;
    width: 11.1111111111%;
}
.fb-members__item:not(:last-of-type) {
      padding-right: 0.649350649359%;
}
  
.fb-members__avatar {
    width: 100%;
}

.footer {
    background-color: #000;
    color: #4d4d4d;
}
  
.footer__wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
  
.footer__nav {
    display: flex;
    flex-flow: column wrap;
    height: 10rem;
    margin: 40px 0 48px auto;
    padding-right: 10.4166666667%;
    width: 32.0388349515%;
}
  
.footer__copyright {
    align-self: flex-start;
    margin-bottom: 12px;
}
  
.copyright {
    font: 600 0.75rem "Raleway", sans-serif;
}
  
.footer__subscribe {
    margin-bottom: 85px;
    margin-right: 17.094017094%;
    width: 25.641025641%;
}
  
.form-subscribe {
    border-bottom: 0.0625rem solid #4d4d4d;
}
  
.form-subscribe__title {
    color: #fff;
    display: block;
    font: 1rem "Montserrat", sans-serif;
    margin-bottom: 3.33333333333%;
}
  
.form-subscribe__textbox {
    background: url(../assets/img/email.png);
    background-position-y: center;
    background-repeat: no-repeat;
    border: none;
    color: #4d4d4d;
    font: 0.875rem/2.125rem "Raleway", sans-serif;
    height: 34px;
    padding: 0 0 0 25px;
    border-image-width: 83.3333333333%;
}
  
.form-subscribe__textbox:focus {
    color: #fff;
    outline: none;
}
  
.form-subscribe__submit {
    background: url("../assets/img/subscribe__button.png") 0 66.7% no-repeat;
    border: none;
    float: right;
    line-height: 34px;
    padding: 0;
    width: 24px;
}

.nav__link_bottom{
    font-size: 0.875rem;
    background-image: url(../assets/img/wave-link.png);
    background-position-y: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    color: #fff;
    font-family: "Raleway", sans-serif;
    padding: 10px 0 10px 30px;
    width: 50%;
}


.hamburger-menu{
    transition: .5s;
    position: absolute;
    width: 40%;
    height: 100%;
    right: 0px;
    top: 0;
    padding-top: 50px;
    padding-right: 35px;
    z-index: 100;
    background-color: white;
    box-shadow: 0px -8px 30px 30px rgba(0, 0, 0, 0.34);
    ul{
        display:inline-block;
        flex-direction: column;
        justify-content: flex-end;
    }
    .menu__item{
        margin: 20px 10px;
        height: 20px;
        .menu__link{
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            padding: 10px 10px;
            transition: 300ms;
        }
    }
    .menu__link:hover{
        color: #fff;
        background-color: $active-color;
    }
}

.hamburger-menu::before{
    content: " ";
    position: absolute;
    width: 1000%;
    height: 100%;
    top: 0;
    left: -1000%;
    z-index: 120;
    background-color: black;
    opacity: 40%;
}

.inactive{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.purchase-window{
    display: none;
}

.purchase-window__active{
    background-color: white;
    display: block;
    position: fixed;
    z-index: 150;
    top: 30%;
    height: 300px;
    width: 345px;
    height: 270px;

    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.527);

    .price{

        position:relative;
        display: flex;
        justify-content: space-around;
        margin-bottom: 0px;
    }
}


.name{
    margin: 30px 45px 30px 45px;
    border: none;
    color: #4d4d4d;
    font: 1.3rem/2.125rem "Raleway", sans-serif;
    height: 34px;
    padding: 0 0 0 4px;
    border-bottom: 0.0625rem solid #4d4d4d;
}

.phone{
    margin: 10px 45px 30px 45px;
    border: none;
    color: #4d4d4d;
    font: 1.3rem/2.125rem "Raleway", sans-serif;
    height: 34px;
    padding: 0 0 0 4px;
    border-bottom: 0.0625rem solid #4d4d4d;
}





.success_msg{
    margin-top:-20px;
    color:green;
    display: none;
}

.fail_msg{
    margin-top:-20px;
    color:red;
    display: none;
}

